/* your styles go here */
:root {
  --main-green: #3eb041;
}

/* ---------- CTA Button ----------- */
.btn-cta {
  background-color: #1A27C9;
  border-color: #1A27C9;
}

.btn-cta:hover {
  background: #1A27C9;
  border-color: #1A27C9;
}

.btn-cta:focus,
.btn-cta.focus {
  box-shadow: 0 0 0 0.2rem rgba(26, 39, 201, 0.5);
}

.btn-cta:not(:disabled):not(.disabled):active,
.btn-cta:not(:disabled):not(.disabled).active,
.show>.btn-cta.dropdown-toggle {
  color: #fff;
  background-color: #1A27C9;
  border-color: #1A27C9;
}

.btn-cta:not(:disabled):not(.disabled):active:focus,
.btn-cta:not(:disabled):not(.disabled).active:focus,
.show>.btn-cta.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(26, 39, 201, 0.5);
}

/* ---------- end of CTA Button ----------- */

/* ---------- Sidebar ----------- */
.sidebar-email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-email {
  padding-left: 5px;
}

/* ----------- End of sidebar ------- */
/* ----------- Hero Section ------ */

.hero__main__content {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero__main__content__title {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 40px;
}

.hero__main__content__title__green-text {
  color: var(--main-green);
}

.hero__main__content__description {
  margin-bottom: 40px;
}

.hero__main__content__cta-link {
  margin-bottom: 10px;
}

.hero__main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto 0;
}

.hero__main__img img {
  max-height: 90%;
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .hero__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero__main__content {
    height: 100%;
    width: 40%;
  }

  .hero__main__img {
    height: 100%;
    width: 60%;
  }

  .hero__main__content {
    text-align: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 40px;
  }

  .hero__main__content__cta-link {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .hero__main__content__title {
    font-size: 4vw;
  }

  .hero__main__content__description,
  .hero__main__content__cta-link {
    font-size: 2vw;
  }
}

/* ----------- End of Hero Section ------ */

/* ----------- Cta section ------- */
section.cta-section {
  width: 100%;
}

.cta-section-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-section-content {
  padding: 0 10px;
  text-align: left;
  width: 60%;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta-section-image {
  width: 40%;
  height: 20vw;
  background-image: url("../img/ecommerce-woman.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}


@media only screen and (max-width: 992px) {
  .cta-section-content {
    padding: 0 20px;
  }


}

@media only screen and (max-width: 768px) {
  section.cta-section {
    background-image: url("../img/wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  .cta-section-container {
    text-align: left;
  }

  .cta-section-image {
    display: none;
    height: 40vw;
  }

  .cta-section-content {
    height: 40vw;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 370px) {

  .cta-section-image,
  .cta-section-content {
    height: 60vw;
  }
}

/* -------- End of cta section ----------- */
/* -------- Project Detail Page --------- */
.project-description {
  text-align: justify;
}

.social-share-link {
  padding: 0 16px 0 16px;

}

.social-share-link.shopify:hover {
  background: #95bf47;
  color: white;
}

.social-share-link.shopify2:hover {
  background: #004643;
  color: white;
}

.social-share-link.liquid:hover {
  background: #7f5af0;
  color: white;
}

.social-share-link.javascript:hover {
  background: #ffd803;
  color: black;
}

.social-share-link.design:hover {
  color: white;
  background: #f25042;
}

/* -------- End of Project Detail Page --------- */